body {
    background-color: #708090;
    color: #eee;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 11pt;
    overflow: hidden;
}


/* ELEMENTS OF THE NAV BAR */

.navbar {
    padding: 20px;
    width: 100vw;
    height: 28px;
}

.navbar nav {
    float: right;
    margin-right: 2rem;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: .75rem 1rem;
    text-decoration: none;
    border-radius: 5px;
}

.navbar li a:hover {
    background-color: #7f91a4;
    color: white;
}

.navbar li a.active {
    background-color: #3f4954;
    color: white;
}

.navbarItemActive {
    background-color: #576676;
    color: white;
    border-radius: 5px;
}

.logo {
    width: 150px;
    float: left;
    font-size: 20px;
    padding: 5px;
    text-indent: 5px;
}

footer {
    height: 20px;
    max-height: 20px;
    width: 100vw;
}

footer p {
    font-size: 10pt;
    font-weight: normal;
    text-align: right;
    margin-right: 2rem;
}

.container {
    clear: both;
    padding: 5px;
    background-color: #eee;
    color: black;
    height: 90vh;
    overflow-y: auto;
}

.error {
    color: red;
    font-size: 16pt;
}


/* LOADING SPINNER */

.loader {
    margin: 50px;
    width: fit-content;
    height: 22px;
    font-weight: bold;
    padding: 2px 20px;
    font-size: 16px;
    background: linear-gradient(90deg, #ddd 50%, #fff 0) right/200% 100%;
    animation: l21 2s infinite linear;
    border: 1px #ddd solid;
    border-radius: 6px;
}

.loader::before {
    content: "Loading...";
    color: #666;
    padding: 15px 20px;
    background: inherit;
    background-image: linear-gradient(90deg, #fff 50%, #000 0);
    -webkit-background-clip: text;
    background-clip: text;
}

@keyframes l21 {
    100% {
        background-position: left
    }
}

/* MAIN DISPLAY GRID */

.pokeGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 120px);
    gap: 16px
}

.pokeCard {
    display: grid;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    text-align: center;
    /* max-width: 200px; */
}

/* SIMPLE FORMATTING ELEMENTS */

.clear-both {
    clear: both;
}

.align-center {
    align-content: center;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}


.m-5 {
    margin: 5px;
}

.p-5 {
    padding: 5px;
}

.pr-5 {
    padding-right: 5px;
}

.w-50 {
    width: 50%;
}

.float-left {
    float: left;
}